#firstname {
    width: 400px;
}

#lastname {
    width: 400px;
}

#email {
    width: 400px;
}

#username {
    width: 400px;
}

#password {
    display: block;
    width: 400px;
}

#retype-password {
    display: block;
    width: 400px;
}

.field-icon {
    float: right;
    margin-left: -50px;
    margin-top: -35px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
